@charset "UTF-8";
:root {
  --clr-base: #1E1E1E;
  --clr-att: #2779E5;
  --clr-att-hover: #539dfd;
  --clr-alert: #EB2B32;
  --clr-succefull: #25b839;
  --clr-bg-light: #F2F2F2;
  --clr-border: #E5E5E5;
  --fsize: 18px;
  --lhsize: 1.333;
  --mbsize: 1.333em;
  --mbMain: 70px;
  --mbMain: 7rem;
  --rdMain: 30px;
  --rdMain: 3rem;
  --shMain: 0px 8px 20px 0px rgba(0, 0, 0, 0.08);
  --mainRadius: 24px;
  --mainRadius: 2.4rem;
  --icoSize: 24px;
  --min: 360px;
  --max: 1340px;
  --paddingContainer: 10px;
  --filter-dark: brightness(0) grayscale(1);
  --filter-white: brightness(0) invert(1);
  font-size: 10px;
}
.sl-wrap:not(.swiper-slide) ~ .sl-wrap {
  display: none;
}
.elm-hidden {
  display: none;
}
/* ----------------------------------- *\
			main styles
\* ----------------------------------- */
body {
  color: var(--clr-base);
  background: #fff;
  font-weight: 500;
  font-size: var(--fsize);
  line-height: var(--lhsize);
}
p,
ul,
ol,
table,
blockquote,
.bq-text {
  position: relative;
  margin-bottom: var(--mbsize);
}
p img,
ul img,
ol img,
table img,
blockquote img,
.bq-text img {
  max-width: 100%;
}
p:last-child,
ul:last-child,
ol:last-child,
table:last-child,
blockquote:last-child,
.bq-text:last-child {
  margin-bottom: 0 !important;
}
li {
  position: relative;
}
.menu,
.list {
  margin: 0;
  padding: 0;
}
.menu li,
.list li {
  margin: 0;
  padding: 0;
}
.menu li:before,
.list li:before {
  display: none;
}
.list-marker li {
  margin-bottom: 1em;
  padding-left: 40px;
  padding-left: 4rem;
  line-height: 1.3;
}
.list-marker li:last-child:after {
  display: none;
}
.list-marker li:before {
  content: "";
  display: block;
  width: 14px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--clr-att);
  position: absolute;
  top: 0.65em;
  left: 7px;
  margin: -7px 0 0 -7px;
}
.list-marker li:after {
  content: "";
  display: block;
  width: 2px;
  position: absolute;
  top: 0.65em;
  bottom: -1em;
  border-left: 1px dashed;
  left: 7px;
  margin-left: -1px;
  margin-bottom: -7px;
}
.list-marker li:last-child {
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: var(--clr-att);
}
a:hover {
  text-decoration: none;
  color: var(--clr-att-hover);
}
a.link-main,
.link-main {
  text-decoration: none;
  border-bottom: 1px solid;
}
.link-phone,
.link-email,
.link-location {
  white-space: nowrap;
  display: inline-block;
  position: relative;
  color: inherit;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.link-phone.link-text,
.link-email.link-text,
.link-location.link-text {
  display: inline;
  padding: 0;
}
.link-phone.link-text:before,
.link-email.link-text:before,
.link-location.link-text:before {
  display: none;
}
.link-email:before {
  background-image: url(../img/icons/link-email.svg);
}
.link-location {
  white-space: normal;
}
.link-location:before {
  background-image: url(../img/icons/link-location.svg);
}
a.link-phone:hover,
a.link-email:hover,
a.link-location:hover {
  color: var(--clr-att);
}
h1,
.h1-title,
h2,
.h2-title,
h3,
.h3-title,
h4,
.h4-title,
h5,
.h5-title,
h6,
.h6-title {
  display: block;
  position: relative;
  margin: 12px 0;
  font-size: 1em;
  line-height: normal;
  font-weight: bold;
}
h1:last-child,
.h1-title:last-child,
h2:last-child,
.h2-title:last-child,
h3:last-child,
.h3-title:last-child,
h4:last-child,
.h4-title:last-child,
h5:last-child,
.h5-title:last-child,
h6:last-child,
.h6-title:last-child {
  margin-bottom: 0;
}
h1:first-child,
.h1-title:first-child,
h2:first-child,
.h2-title:first-child,
h3:first-child,
.h3-title:first-child,
h4:first-child,
.h4-title:first-child,
h5:first-child,
.h5-title:first-child,
h6:first-child,
.h6-title:first-child {
  margin-top: 0;
}
.page-title {
  font-size: 60px;
  font-size: 6rem;
  line-height: 1.2;
  font-weight: 900;
}
.h1-title,
h1 {
  font-size: 40px;
  font-size: 4rem;
  font-weight: 800;
}
.h2-title,
h2 {
  font-size: 30px;
  font-size: 3rem;
  font-weight: 800;
}
.h3-title,
h3 {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.3;
}
.text-light,
.title-light {
  color: var(--clr-light);
}
.text-base,
.title-base {
  color: var(--clr-base);
}
.text-att,
.title-att {
  color: var(--clr-att);
}
.text-alert,
.title-alert {
  color: var(--clr-alert);
}
.text-large,
.title-large {
  font-size: 1.11111111em;
  line-height: 1.3;
}
.text-succefull,
.title-succefull {
  color: var(--clr-succefull);
}
.text-line,
.title-line {
  white-space: nowrap;
}
.text-upper,
.title-upper {
  text-transform: uppercase;
}
.text-left,
.title-left {
  text-align: left;
}
.text-right,
.title-right {
  text-align: right;
}
.text-center,
.title-center {
  text-align: center;
}
@media (max-width: 1199px) {
  :root {
    font-size: 9px;
  }
}
@media (max-width: 1023px) {
  :root {
    font-size: 8px;
  }
  body {
    font-size: 16px;
  }
  .page-title {
    font-size: 40px;
  }
  .h1-title,
  h1 {
    font-size: 30px;
  }
  .h2-title,
  h2 {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  :root {
    font-size: 7px;
  }
}
@media (max-width: 639px) {
  .page-title {
    font-size: 30px;
  }
  .h1-title,
  h1 {
    font-size: 26px;
  }
  .h2-title,
  h2 {
    font-size: 22px;
  }
}
@media (min-width: 1024px) {
  :root {
    --paddingContainer: 30px;
  }
}
/* ----------------------------------- *\
			structura
\* ----------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: var(--min);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
html {
  scrollbar-gutter: stable;
}
html.with-fancybox body.hide-scrollbar {
  overflow: inherit !important;
  overflow-x: hidden !important;
  margin-right: 0 !important;
}
.cnt-full-wrap {
  margin-left: calc(var(--paddingContainer) * -1);
  margin-right: calc(var(--paddingContainer) * -1);
  padding-left: var(--paddingContainer);
  padding-right: var(--paddingContainer);
}
.inner-wrap,
.page-full {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding-left: var(--paddingContainer);
  padding-right: var(--paddingContainer);
  min-width: var(--min);
  max-width: var(--max);
  width: 100%;
}
.inner-wrap .inner-wrap,
.page-full .inner-wrap {
  min-width: 0;
  padding-left: 0;
  padding-right: 0;
}
.inner-wrap .cnt-section,
.page-full .cnt-section {
  min-width: 0;
}
.page-full {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}
.wrap,
.header,
.nav,
.footer,
.cnt-section {
  position: relative;
  clear: both;
  min-width: var(--min);
  width: 100%;
}
.wrap {
  overflow: hidden;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.wrap > .cnt-section {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.nav,
.header,
.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  line-height: 1;
  text-align: left;
}
.nav ul,
.header ul,
.footer ul,
.nav li,
.header li,
.footer li,
.nav p,
.header p,
.footer p {
  margin: 0;
  padding: 0;
}
.nav ul:before,
.header ul:before,
.footer ul:before,
.nav li:before,
.header li:before,
.footer li:before,
.nav p:before,
.header p:before,
.footer p:before {
  display: none;
}
.nav a,
.header a,
.footer a {
  text-decoration: none;
  position: relative;
  transition: all ease 0.2s;
}
.header .inner-wrap,
.footer .inner-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.header .logo-inner-wrap,
.footer .logo-inner-wrap {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.header .actions-inner-wrap,
.footer .actions-inner-wrap {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.header .rates-inner-wrap,
.footer .rates-inner-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 30px;
  padding-right: 3rem;
  padding-left: 50px;
  padding-left: 5rem;
  -ms-flex: 1;
      flex: 1;
}
.header .rates-inner-wrap .elm-photo,
.footer .rates-inner-wrap .elm-photo {
  width: 101px;
  aspect-ratio: inherit;
  height: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 6px;
}
.header .soc-wrap,
.footer .soc-wrap {
  display: -ms-flexbox;
  display: flex;
  margin-right: 6px;
}
.header .soc-wrap:last-child,
.footer .soc-wrap:last-child {
  margin-right: 0;
}
.header .button-soc,
.footer .button-soc {
  width: 30px;
  height: 30px;
  margin: 0 8px 0 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header .link-phone,
.footer .link-phone {
  line-height: 32px;
  display: block;
  color: inherit;
}
.header .link-phone:hover,
.footer .link-phone:hover {
  color: var(--clr-base);
}
.header .logo-title,
.footer .logo-title {
  padding-left: 30px;
  padding-left: 3rem;
  font-size: 0.88888889em;
  line-height: 1.375;
}
.header .logo,
.footer .logo {
  width: 218px;
  width: 21.8rem;
}
.wrap-main .header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header-light .header {
  color: #fff;
}
.header {
  z-index: 99;
  padding: 28px 0;
  padding: 2.8rem 0;
}
.footer {
  background: #E3F3FF;
  overflow: hidden;
  padding: 40px 0;
  padding: 4rem 0;
}
.logo {
  display: block;
  position: relative;
  overflow: hidden;
  line-height: 1;
  text-decoration: none;
  width: 100%;
  letter-spacing: normal;
  font-weight: 400;
}
.logo:hover {
  text-decoration: none;
}
.logo img {
  display: block;
  width: 100%;
}
@media (max-width: 1199px) {
  .footer .logo-inner-wrap,
  .header .logo-inner-wrap {
    display: block;
  }
  .footer .logo-title,
  .header .logo-title {
    padding-left: 0;
    padding-top: 10px;
  }
}
@media (max-width: 1023px) {
  .section-mobile-full {
    margin-left: calc(var(--paddingContainer) * -1);
    margin-right: calc(var(--paddingContainer) * -1);
  }
}
@media (max-width: 767px) {
  .header .soc-wrap {
    margin-right: 0;
  }
  .header .link-phone {
    width: 30px;
    height: 30px;
    min-width: 0;
    padding: 0;
    border-radius: 50%;
    background: var(--clr-base);
  }
  .header .link-phone:hover {
    opacity: 0.8;
  }
  .header .link-phone .button-title {
    display: none;
  }
  .header .link-phone:before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    background: url(../img/icons/phone.svg) center no-repeat;
    background-size: 28px auto;
    top: 50%;
    left: 50%;
    margin: -12px 0 0 -12px;
    filter: brightness(0) invert(1);
  }
  .footer {
    text-align: center;
  }
  .footer .inner-wrap {
    display: block;
  }
  .footer .logo-inner-wrap {
    width: 100%;
    margin-bottom: 3rem;
    padding: 0;
  }
  .footer .rates-inner-wrap {
    padding: 0;
    margin-top: 3rem;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .footer .actions-inner-wrap {
    -ms-flex-pack: center;
        justify-content: center;
    margin-top: 3rem;
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .logo {
    margin: 0 auto;
  }
}
/* ----------------------------------- *\
			items styles
\* ----------------------------------- */
.item-tile-question {
  display: block;
  position: relative;
  line-height: 1.33333333;
  border-radius: var(--rdMain);
  border: 2px solid var(--clr-border);
  overflow: hidden;
  transition: all ease 0.2s;
}
.item-tile-question:has(.tile-button.active) {
  background: var(--clr-bg-light);
}
.item-tile-question .tile-content-block {
  display: none;
  padding: 0 38px 38px 38px;
  padding: 0 3.8rem 3.8rem 3.8rem;
  margin-top: -14px;
  margin-top: -1.4rem;
}
.item-tile-question .tile-button {
  display: block;
  position: relative;
  padding: 38px 90px 38px 38px;
  padding: 3.8rem 9rem 3.8rem 3.8rem;
  color: var(--clr-base);
  overflow: hidden;
  line-height: 1.3;
  font-size: 20px;
  font-weight: 800;
}
.item-tile-question .tile-button:before,
.item-tile-question .tile-button:after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  background: url(../img/icons/plus.svg) center no-repeat;
  background-size: 100% auto;
  top: 50%;
  right: 40px;
  right: 4rem;
  transition: all ease 0.2s;
  margin-top: -12px;
}
.item-tile-question .tile-button:after {
  background-image: url(../img/icons/minus.svg);
  opacity: 0;
}
.item-tile-question .tile-button.active:before {
  opacity: 0;
}
.item-tile-question .tile-button.active:after {
  opacity: 1;
}
.item-tile-plus {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 100%;
  border-radius: var(--rdMain);
  box-shadow: var(--shMain);
  background: #fff;
  position: relative;
  overflow: hidden;
  transition: all ease 0.2s;
  padding: 60px 24px 40px 24px;
  padding: 6rem 2.4rem 4rem 2.4rem;
  color: var(--clr-base);
  line-height: 1.33333333;
  text-align: center;
}
.item-tile-plus .tile-title {
  margin-bottom: 14px;
  margin-top: 0;
}
.item-tile-plus .tile-ico {
  margin: 0 auto 30px auto;
  margin: 0 auto 3rem auto;
  width: 170px;
  width: 17rem;
  height: 170px;
  height: 17rem;
}
.item-tile-main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 100%;
  border-radius: var(--rdMain);
  box-shadow: var(--shMain);
  background: #fff;
  position: relative;
  overflow: hidden;
  transition: all ease 0.2s;
}
.item-tile-main:hover {
  background-color: var(--clr-bg-light);
}
.item-tile-main:hover .btn.button-border:not(:hover) {
  background-color: var(--clr-base);
  border-color: var(--clr-base);
  color: #fff;
}
.item-tile-main:hover .btn.button-border:not(:hover) .button-ico {
  filter: brightness(0) invert(1);
}
.item-tile-main .tile-photo-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: end;
      justify-content: flex-end;
  min-height: 260px;
  color: #fff;
}
.item-tile-main .tile-title-wrap {
  display: block;
  width: 100%;
  position: relative;
  z-index: 2;
  padding: 40px 30px 30px 40px;
  padding: 4rem 3rem 3rem 4rem;
  background: linear-gradient(to top, #000 0%, rgba(0, 0, 0, 0) 100%);
}
.item-tile-main .tile-info-wrap {
  -ms-flex: 1;
      flex: 1;
  display: block;
  padding: 34px 30px 40px 40px;
  padding: 3.4rem 3rem 4rem 4rem;
}
.item-tile-main .tile-action-wrap {
  display: block;
  width: 100%;
  padding: 0 40px 40px 40px;
  padding: 0 4rem 4rem 4rem;
}
.item-tile-main .tile-title {
  text-transform: uppercase;
}
.item-tile-main .tile-photo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  aspect-ratio: inherit;
}
.item-tile-main .btn {
  width: 100%;
}
.elm-compare-photos {
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  min-height: 0;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.elm-compare-photos .elm-photo {
  aspect-ratio: inherit;
  border-radius: 2.4rem 0 0 2.4rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: calc(50% - 5px);
  height: auto;
}
.elm-compare-photos .elm-photo:before {
  content: "";
  display: block !important;
  position: relative;
  padding-top: 143.7%;
}
.elm-compare-photos .elm-photo:last-child {
  border-radius: 0 2.4rem 2.4rem 0;
}
.elm-compare-photos .photo-title {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  color: #fff;
  margin: 0;
  padding: 30px 34px;
  padding: 3rem 3.4rem;
}
:is([class^="item-tile"]):hover .elm-photo img,
:is([class^="item-tile"]):hover .tile-photo img {
  transform: scale(1.03);
}
.elm-photo,
.tile-photo {
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  line-height: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 100%;
}
.elm-photo.photo-zoom:after,
.tile-photo.photo-zoom:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--clr-att) url(../img/icons/zoom.svg);
  background-size: 24px auto;
  transition: all ease 0.2s;
}
.elm-photo.photo-zoom:hover:after,
.tile-photo.photo-zoom:hover:after {
  opacity: 1;
}
.elm-photo:before,
.tile-photo:before {
  content: "";
  display: none;
  padding-top: 100%;
}
.elm-photo img,
.tile-photo img {
  display: block;
  position: relative;
  width: 100%;
  transition: all ease-out 1s;
}
.elm-photo.photo-cover:before,
.tile-photo.photo-cover:before {
  display: block;
}
.elm-photo.photo-cover img,
.tile-photo.photo-cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.elm-photo.photo-contain:before,
.tile-photo.photo-contain:before {
  display: block;
}
.elm-photo.photo-contain img,
.tile-photo.photo-contain img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
@supports (aspect-ratio: 1) {
  .elm-photo:not(.photo-cover, .photo-contain),
  .tile-photo:not(.photo-cover, .photo-contain) {
    aspect-ratio: inherit !important;
  }
  .photo-cover,
  .photo-contain {
    aspect-ratio: 1;
  }
  .photo-cover:before,
  .photo-contain:before {
    display: none !important;
  }
}
.elm-price,
.tile-price {
  white-space: nowrap;
}
.elm-price.price-old,
.tile-price.price-old {
  text-decoration: line-through;
}
[data-unit]:after {
  content: attr(data-unit);
  font-family: 'Arial', 'Roboto', 'Open Sans', sans-serif;
}
.elm-ico,
.button-ico,
.menu-ico,
.frm-ico,
.tab-ico,
.tile-ico,
.lbl-ico {
  display: block;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.elm-ico img,
.button-ico img,
.menu-ico img,
.frm-ico img,
.tab-ico img,
.tile-ico img,
.lbl-ico img,
.elm-ico [class*="icon-"],
.button-ico [class*="icon-"],
.menu-ico [class*="icon-"],
.frm-ico [class*="icon-"],
.tab-ico [class*="icon-"],
.tile-ico [class*="icon-"],
.lbl-ico [class*="icon-"],
.elm-ico .i,
.button-ico .i,
.menu-ico .i,
.frm-ico .i,
.tab-ico .i,
.tile-ico .i,
.lbl-ico .i,
.elm-ico svg,
.button-ico svg,
.menu-ico svg,
.frm-ico svg,
.tab-ico svg,
.tile-ico svg,
.lbl-ico svg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.elm-overlay {
  display: none;
  animation: fadein ease 0.2s;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 120;
}
.elm-overlay.active {
  display: block;
}
.elm-sticker,
.tile-sticker {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #000;
  height: 27px;
  line-height: 27px;
  border-radius: 5px;
  padding: 0 12px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
@media (max-width: 767px) {
  .item-tile-main .tile-title-wrap,
  .item-tile-main .tile-info-wrap,
  .item-tile-main .tile-action-wrap {
    padding-left: 24px;
    padding-right: 24px;
  }
  .item-tile-question .tile-button {
    padding-left: 24px;
    padding-right: 60px;
    font-size: 18px;
  }
  .item-tile-question .tile-button:before,
  .item-tile-question .tile-button:after {
    right: 24px;
  }
  .item-tile-question .tile-content-block {
    margin-top: 0;
    padding: 0 24px 24px 24px;
  }
}
/* ----------------------------------- *\
			content styles
\* ----------------------------------- */
.action-box {
  position: relative;
  margin-bottom: var(--mbMain);
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.4;
  color: #fff;
}
.action-box.type-second .box-inner-wrap {
  background: var(--clr-base);
}
.action-box.type-second .box-inner-wrap:before {
  margin-left: -400px;
  margin-left: -40rem;
  transform: translateY(-80%);
  background: #373737;
}
.action-box .box-inner-wrap {
  position: relative;
  overflow: hidden;
  border-radius: var(--rdMain);
  background: var(--clr-att);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 55px 65px;
  padding: 5.5rem 6.5rem;
  min-height: 276px;
  min-height: 27.6rem;
}
.action-box .box-inner-wrap:before {
  content: "";
  display: block;
  width: 706px;
  width: 70.6rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #1A95ED;
  filter: blur(100px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-10%);
  margin-left: -100px;
  margin-left: -10rem;
}
.action-box .photo-inner-wrap {
  width: 503px;
  width: 50.3rem;
  position: absolute;
  top: 50%;
  right: 50px;
  right: 5rem;
  transform: translateY(-55%);
  z-index: 2;
}
.action-box .title-inner-wrap {
  width: 650px;
  width: 65rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 100%;
  position: relative;
  z-index: 3;
}
.action-box .title-inner-wrap p {
  max-width: 18.33333333em;
}
.action-box .action-wrap {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.action-box .action-wrap .action-title {
  max-width: 18.33333333em;
  display: block;
  padding-right: 30px;
  padding-right: 3rem;
  text-align: right;
}
.action-box .action-wrap .btnm {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.action-box .page-title {
  text-transform: uppercase;
}
.action-box .btn:has(.button-ico:only-child) {
  width: 70px;
  width: 7rem;
  padding: 0;
}
.tiles-slider-box {
  position: relative;
  margin-bottom: var(--mbMain);
}
.tiles-slider-box .ico-arrow-prev {
  margin-left: -35px;
  margin-left: -3.5rem;
}
.tiles-slider-box .ico-arrow-next {
  margin-right: -35px;
  margin-right: -3.5rem;
}
.tiles-box {
  margin-bottom: var(--mbMain);
}
.tiles-box .item-wrap {
  width: 50%;
}
.tiles-box .col-1 .item-wrap {
  width: 100%;
}
.message-box {
  margin-bottom: var(--mbMain);
  font-weight: 500;
}
.message-box .box-inner-wrap {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: var(--rdMain);
  background: #00000030;
}
.message-box .type-succefull {
  background: #25b83930;
}
.message-box .type-succefull .ico-inner-wrap {
  background: var(--clr-succefull);
}
.message-box .type-alert {
  background: #FFEFF0;
}
.message-box .type-alert .ico-inner-wrap {
  background: var(--clr-alert);
}
.message-box .ico-inner-wrap {
  width: 230px;
  width: 23rem;
  min-height: 120px;
  min-height: 12rem;
  background: #000;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-order: 1;
      order: 1;
}
.message-box .ico-inner-wrap .elm-ico {
  width: 90px;
  width: 9rem;
  height: 90px;
  height: 9rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.message-box .info-inner-wrap {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-order: 2;
      order: 2;
  padding: 38px 40px 38px 40px;
  padding: 3.8rem 4rem 3.8rem 4rem;
}
.message-box .h2-title,
.message-box .h1-title {
  margin-bottom: 14px;
}
.lead-box {
  position: relative;
  color: #fff;
  font-size: 30px;
  font-size: 3rem;
  line-height: normal;
  margin-bottom: var(--mbMain);
}
.lead-box .box-inner-wrap {
  position: relative;
  z-index: 2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  min-height: 830px;
}
.lead-box .info-inner-wrap {
  width: 600px;
  width: 60rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 100px 0;
  padding: 10rem 0;
}
.lead-box .photo-inner-wrap {
  -ms-flex: 1;
      flex: 1;
}
.lead-box .bg-full-wrap {
  background: var(--clr-att);
  overflow: hidden;
}
.lead-box .bg-full-wrap:before,
.lead-box .bg-full-wrap:after {
  content: "";
  display: block;
  width: 825px;
  width: 82.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #1A95ED;
  filter: blur(100px);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateY(-65%);
  margin-left: -900px;
  margin-left: -90rem;
}
.lead-box .bg-full-wrap:before {
  width: 706px;
  width: 70.6rem;
  background-color: #159DFF;
  top: 100%;
  transform: translateY(-77%);
  margin-left: 170px;
  margin-left: 17rem;
}
.lead-box .page-title {
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
}
.lead-box .btn {
  margin-top: 20px;
  margin-top: 2rem;
}
.lead-box .elm-photo {
  width: 890px;
  width: 89rem;
  max-width: 100%;
}
.title-box {
  text-align: center;
  margin-bottom: 60px;
  margin-bottom: 6rem;
  position: relative;
}
.title-box .h1-title,
.title-box .h2-title {
  text-transform: uppercase;
}
.bg-box {
  padding: 62px 0 20px 0;
  padding: 6.2rem 0 2rem 0;
  margin-bottom: var(--mbMain);
  position: relative;
  z-index: 2;
}
.bg-box .bg-full-wrap {
  background: #E3F3FF;
  z-index: -1;
}
.bg-full-wrap {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100dvw;
  min-width: var(--min);
  transform: translateX(-50%);
  overflow: hidden;
}
.more-box {
  text-align: center;
  margin-top: 60px;
  margin-top: 6rem;
}
@media (max-width: 1399px) {
  .tiles-slider-box .ico-arrow-prev {
    margin-left: 1rem;
  }
  .tiles-slider-box .ico-arrow-next {
    margin-right: 1rem;
  }
}
@media (max-width: 1299px) {
  .lead-box .elm-photo {
    width: 75rem;
  }
}
@media (max-width: 1199px) {
  .action-box .box-inner-wrap {
    padding-left: 5rem;
  }
  .action-box .photo-inner-wrap {
    left: 60%;
  }
  .lead-box .elm-photo {
    width: 65rem;
  }
}
@media (max-width: 767px) {
  .action-box .box-inner-wrap {
    display: block;
    padding: 5rem 24px;
    text-align: center;
  }
  .action-box .title-inner-wrap {
    margin: 0 auto;
    width: 100%;
    padding: 0;
  }
  .action-box .title-inner-wrap p {
    margin-left: auto;
    margin-right: auto;
  }
  .action-box .photo-inner-wrap {
    width: 100%;
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    transform: none;
    margin: 5rem 0 0 0;
  }
  .action-box .elm-photo {
    width: 400px;
    margin: 0 auto;
  }
  .lead-box {
    text-align: center;
  }
  .lead-box .box-inner-wrap {
    display: block;
    padding: 140px 0 0 0;
    min-height: 0;
  }
  .lead-box .info-inner-wrap {
    width: 100%;
    padding: 0;
  }
  .lead-box .photo-inner-wrap {
    width: 100%;
    padding: 0;
  }
  .lead-box .elm-photo {
    margin: 0 auto;
  }
  .message-box .box-inner-wrap {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .message-box .ico-inner-wrap {
    height: 15rem;
    width: 100%;
  }
  .message-box .info-inner-wrap {
    width: 100%;
    padding: 4rem 24px;
  }
}
@media (max-width: 639px) {
  .tiles-box .item-wrap {
    width: 100%;
  }
}
@media (min-width: 480px) {
  .tiles-box .col-4 .item-wrap {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .action-box.type-second .box-inner-wrap {
    -ms-flex-pack: end;
        justify-content: flex-end;
  }
  .action-box.type-second .title-inner-wrap {
    text-align: right;
    width: 100%;
  }
  .action-box.type-second .photo-inner-wrap {
    width: 45rem;
    right: auto;
    left: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .action-box.type-second .photo-inner-wrap {
    left: -5rem;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .action-box.type-second .photo-inner-wrap {
    left: -5rem;
  }
}
@media (min-width: 1024px) {
  .lead-box + .tiles-box {
    position: relative;
    z-index: 2;
    margin-top: -16rem;
  }
}
@media (min-width: 1200px) {
  .tiles-box .col-4 .item-wrap {
    width: 25%;
  }
}
/* ----------------------------------- *\
			inputs elements styles
\* ----------------------------------- */
.form-input[placeholder] {
  text-overflow: ellipsis;
}
.form-input {
  text-overflow: ellipsis;
}
select.form-input {
  display: block;
  text-overflow: ellipsis;
  width: 100%;
  padding-right: 30px;
  background-image: url(../img/icons/arrow-select.svg);
  background-position: right 20px center;
  background-color: #fff;
  background-repeat: no-repeat;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none!important;
  line-height: 1em;
  text-indent: 0.01px;
  outline: none;
  cursor: pointer;
}
select.form-input.form-input-clear {
  height: auto;
  border: none;
  min-height: 0;
  border-radius: 0;
  box-shadow: none;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  line-height: inherit;
  padding: 0 16px 0 0;
  color: inherit;
  font-weight: bold;
  background-image: url(../img/icons/arrow-select.png);
  background-size: 8px auto;
  background-repeat: no-repeat;
  background-position: right center;
}
select::-ms-expand {
  display: none;
}
select.form-input:required:invalid {
  color: #ADADAD;
}
.btn {
  height: 80px;
  height: 8rem;
  border-radius: 2.4rem;
  padding: 0 54px;
  padding: 0 5.4rem;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.3;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  background: var(--clr-base);
  border: 3px solid var(--clr-base);
}
.btn.button-att {
  border-color: var(--clr-att);
  background-color: var(--clr-att);
}
.btn.button-att:hover {
  border-color: var(--clr-att-hover);
  background-color: var(--clr-att-hover);
}
.btn.button-att:hover .button-ico {
  filter: brightness(0) invert(1);
}
.btn.button-medium {
  height: 70px;
  height: 7rem;
  border-radius: 2rem;
  font-size: 20px;
  font-size: 2rem;
}
.btn:hover {
  background-color: var(--clr-base);
  border-color: var(--clr-base);
  color: var(--clr-att);
}
.btn:hover .button-ico {
  filter: none;
}
.btn.button-clear {
  width: auto;
  height: auto;
  line-height: 24px;
  color: inherit;
  white-space: normal;
  -ms-flex-align: center;
      align-items: center;
  padding: 0;
  min-width: 0;
  background: none;
  border: none;
  border-radius: 0;
  font-weight: inherit;
}
.btn.button-clear:hover {
  border: none;
  background: none;
  color: var(--clr-att);
}
.btn.button-clear .button-ico {
  filter: none;
}
.btn.button-border:not(:hover) {
  background-color: transparent;
  color: var(--clr-base);
}
.btn.button-border:not(:hover) .button-ico {
  filter: brightness(0) grayscale(1);
}
.btn .button-ico {
  width: var(--icoSize);
  height: var(--icoSize);
  margin: 0 12px;
  margin: 0 1.2rem;
  transition: all ease 0.2s;
  filter: brightness(0) invert(1);
}
.btn .button-ico:last-child {
  margin-right: 0;
}
.btn .button-ico:first-child {
  margin-left: 0;
}
.btn .button-title[data-title]:before {
  content: attr(data-title);
}
.btn .button-title[data-show]:before {
  content: attr(data-show);
}
.btn.active .button-title[data-title-active]:before {
  content: attr(data-title-active);
}
.btn.active .button-title[data-hide]:before {
  content: attr(data-hide);
}
.btn .button-active-add .button-title:before,
.btn .button-active-toggle .button-title:before {
  content: attr(data-title);
}
.btn .button-active-add .button-ico-active,
.btn .button-active-toggle .button-ico-active {
  display: none;
}
.btn .button-active-add.active .button-title:before,
.btn .button-active-toggle.active .button-title:before {
  content: attr(data-title-active);
}
.btn .button-active-add.active:has(.button-ico-active) .button-ico,
.btn .button-active-toggle.active:has(.button-ico-active) .button-ico {
  display: none;
}
.btn .button-active-add.active:has(.button-ico-active) .button-ico-active,
.btn .button-active-toggle.active:has(.button-ico-active) .button-ico-active {
  display: block;
}
.btn-action-ico {
  min-width: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  display: block;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  transition: all ease 0.2s;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.btn-action-ico:not(.btn) {
  background: none;
  border: none;
  box-shadow: none;
}
.btn-action-ico.btn {
  min-width: 0;
  min-height: 0;
  padding: 0;
  display: block;
}
.btn-action-ico:before,
.btn-action-ico:after,
.btn-action-ico [class*="icon-"],
.btn-action-ico img,
.btn-action-ico svg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  transition: all ease 0.2s;
}
.btn-action-ico img,
.btn-action-ico svg {
  max-width: var(--icoSize);
  max-height: var(--icoSize);
}
.btn-action-ico:before,
.btn-action-ico:after {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: var(--icoSize) auto;
}
.btn-action-ico:hover {
  text-decoration: none;
}
.btn-action-ico:hover:not(.btn) {
  background: none;
  box-shadow: none;
}
.btn-action-ico.ico-arrow {
  z-index: 20;
  cursor: pointer;
  width: 70px;
  width: 7rem;
  height: 70px;
  height: 7rem;
  margin-top: -35px;
  margin-top: -3.5rem;
  border-radius: 2.4rem;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  position: absolute;
  top: 50%;
  right: 0;
}
.btn-action-ico.ico-arrow:before {
  background-image: url(../img/icons/arrow.svg);
}
.btn-action-ico.ico-arrow:hover {
  background: #ffffff;
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.1);
}
.btn-action-ico.ico-arrow.swiper-button-disabled {
  opacity: 0.5;
}
.btn-action-ico.ico-arrow-prev {
  right: auto;
  left: 0;
}
.btn-action-ico.ico-arrow-prev:before {
  transform: rotate(180deg);
}
.btn-action-ico.ico-menu:after,
.btn-action-ico.ico-menu:before {
  width: 24px;
  height: 18px;
  border-top: 2px solid var(--clr-base);
  border-bottom: 2px solid var(--clr-base);
  margin: -9px 0 0 -12px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
}
.btn-action-ico.ico-menu:before {
  height: 2px;
  margin-top: -1px;
  border-top: none;
}
.btn-action-ico.ico-menu.active:after {
  height: 2px;
  margin-top: -1px;
  border-top: none;
  transform: rotate(-45deg);
}
.btn-action-ico.ico-menu.active:before {
  transform: rotate(45deg);
}
.btn-action-ico.ico-close:after,
.btn-action-ico.ico-close:before {
  width: 20px;
  height: 2px;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  margin: -1px 0 0 -10px;
  background: var(--clr-base);
}
.btn-action-ico.ico-close:before {
  transform: rotate(45deg);
}
.btn-action-ico.ico-close:after {
  transform: rotate(-45deg);
}
.btn-action-ico.button-soc img,
.btn-action-ico.button-soc svg {
  max-width: 100%;
  max-height: 100%;
}
.btn-action-ico.button-soc:hover {
  opacity: 0.8;
}
.btn-action-ico.button-active-close:after,
.btn-action-ico.button-active-toggle:after {
  opacity: 0;
}
.btn-action-ico.button-active-close.active:before,
.btn-action-ico.button-active-toggle.active:before {
  opacity: 0;
}
.btn-action-ico.button-active-close.active:after,
.btn-action-ico.button-active-toggle.active:after {
  opacity: 1;
}
.btn-action-ico.button-active-close:after {
  background-image: url(../img/icons/close.svg);
}
.btn-action-icon {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  color: inherit;
}
.btn-action-icon.button-att {
  color: var(--clr-att);
}
.btn-action-icon.button-att .button-ico {
  filter: none;
}
.btn-action-icon:hover {
  color: var(--clr-att);
}
.btn-action-icon:hover .button-ico {
  filter: none;
}
.btn-action-icon .button-ico {
  width: 24px;
  height: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  filter: brightness(0) grayscale(1);
}
.btn-action-icon .button-ico + .button-title {
  padding-left: 10px;
}
.btn-action-icon .button-title {
  display: block;
}
/* ----------------------------------- *\
			forms elements styles
\* ----------------------------------- */
.frm-row,
.frm-field,
.frm-row-submit {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  line-height: 1;
}
.frm-field {
  display: block;
  width: 100%;
}
.frm-select {
  position: relative;
  display: block;
  overflow: hidden;
  line-height: 1;
}
.frm-select input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
.frm-select input:checked ~ label:after {
  opacity: 1;
}
.frm-select label {
  display: block;
  position: relative;
  cursor: pointer;
}
.frm-select label:before,
.frm-select label:after {
  content: "";
  display: block;
  position: absolute;
}
.frm-select label:after {
  opacity: 0;
}
.frm-select input:checked ~ label:after {
  opacity: 1;
}
.frm-select label:after {
  border-radius: 0;
  border: none;
  background: url(../img/icons/chk.svg) center / 24px auto no-repeat;
  opacity: 0;
}
.frm-select a {
  color: inherit;
}
.frm-select a:hover {
  color: var(--clr-att);
}
/* ----------------------------------- *\
		common styles
\* ----------------------------------- */
@keyframes flash {
  0% {
    opacity: 0.55;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeinslide {
  from {
    opacity: 0;
    transform: translate(0, -50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0px);
  }
}
table:has(col.text-left:nth-child(1)) th:nth-child(1),
table:has(col.text-left:nth-child(1)) td:nth-child(1) {
  text-align: left;
}
table:has(col.text-right:nth-child(1)) th:nth-child(1),
table:has(col.text-right:nth-child(1)) td:nth-child(1) {
  text-align: right;
}
table:has(col.text-center:nth-child(1)) th:nth-child(1),
table:has(col.text-center:nth-child(1)) td:nth-child(1) {
  text-align: center;
}
table:has(col.text-left:nth-child(2)) th:nth-child(2),
table:has(col.text-left:nth-child(2)) td:nth-child(2) {
  text-align: left;
}
table:has(col.text-right:nth-child(2)) th:nth-child(2),
table:has(col.text-right:nth-child(2)) td:nth-child(2) {
  text-align: right;
}
table:has(col.text-center:nth-child(2)) th:nth-child(2),
table:has(col.text-center:nth-child(2)) td:nth-child(2) {
  text-align: center;
}
table:has(col.text-left:nth-child(3)) th:nth-child(3),
table:has(col.text-left:nth-child(3)) td:nth-child(3) {
  text-align: left;
}
table:has(col.text-right:nth-child(3)) th:nth-child(3),
table:has(col.text-right:nth-child(3)) td:nth-child(3) {
  text-align: right;
}
table:has(col.text-center:nth-child(3)) th:nth-child(3),
table:has(col.text-center:nth-child(3)) td:nth-child(3) {
  text-align: center;
}
table:has(col.text-left:nth-child(4)) th:nth-child(4),
table:has(col.text-left:nth-child(4)) td:nth-child(4) {
  text-align: left;
}
table:has(col.text-right:nth-child(4)) th:nth-child(4),
table:has(col.text-right:nth-child(4)) td:nth-child(4) {
  text-align: right;
}
table:has(col.text-center:nth-child(4)) th:nth-child(4),
table:has(col.text-center:nth-child(4)) td:nth-child(4) {
  text-align: center;
}
table:has(col.text-left:nth-child(5)) th:nth-child(5),
table:has(col.text-left:nth-child(5)) td:nth-child(5) {
  text-align: left;
}
table:has(col.text-right:nth-child(5)) th:nth-child(5),
table:has(col.text-right:nth-child(5)) td:nth-child(5) {
  text-align: right;
}
table:has(col.text-center:nth-child(5)) th:nth-child(5),
table:has(col.text-center:nth-child(5)) td:nth-child(5) {
  text-align: center;
}
table:has(col.text-left:nth-child(6)) th:nth-child(6),
table:has(col.text-left:nth-child(6)) td:nth-child(6) {
  text-align: left;
}
table:has(col.text-right:nth-child(6)) th:nth-child(6),
table:has(col.text-right:nth-child(6)) td:nth-child(6) {
  text-align: right;
}
table:has(col.text-center:nth-child(6)) th:nth-child(6),
table:has(col.text-center:nth-child(6)) td:nth-child(6) {
  text-align: center;
}
table:has(col.text-left:nth-child(7)) th:nth-child(7),
table:has(col.text-left:nth-child(7)) td:nth-child(7) {
  text-align: left;
}
table:has(col.text-right:nth-child(7)) th:nth-child(7),
table:has(col.text-right:nth-child(7)) td:nth-child(7) {
  text-align: right;
}
table:has(col.text-center:nth-child(7)) th:nth-child(7),
table:has(col.text-center:nth-child(7)) td:nth-child(7) {
  text-align: center;
}
table:has(col.text-left:nth-child(8)) th:nth-child(8),
table:has(col.text-left:nth-child(8)) td:nth-child(8) {
  text-align: left;
}
table:has(col.text-right:nth-child(8)) th:nth-child(8),
table:has(col.text-right:nth-child(8)) td:nth-child(8) {
  text-align: right;
}
table:has(col.text-center:nth-child(8)) th:nth-child(8),
table:has(col.text-center:nth-child(8)) td:nth-child(8) {
  text-align: center;
}
table:has(col.text-left:nth-child(9)) th:nth-child(9),
table:has(col.text-left:nth-child(9)) td:nth-child(9) {
  text-align: left;
}
table:has(col.text-right:nth-child(9)) th:nth-child(9),
table:has(col.text-right:nth-child(9)) td:nth-child(9) {
  text-align: right;
}
table:has(col.text-center:nth-child(9)) th:nth-child(9),
table:has(col.text-center:nth-child(9)) td:nth-child(9) {
  text-align: center;
}
table:has(col.text-left:nth-child(10)) th:nth-child(10),
table:has(col.text-left:nth-child(10)) td:nth-child(10) {
  text-align: left;
}
table:has(col.text-right:nth-child(10)) th:nth-child(10),
table:has(col.text-right:nth-child(10)) td:nth-child(10) {
  text-align: right;
}
table:has(col.text-center:nth-child(10)) th:nth-child(10),
table:has(col.text-center:nth-child(10)) td:nth-child(10) {
  text-align: center;
}
table:has(col.text-left:nth-child(11)) th:nth-child(11),
table:has(col.text-left:nth-child(11)) td:nth-child(11) {
  text-align: left;
}
table:has(col.text-right:nth-child(11)) th:nth-child(11),
table:has(col.text-right:nth-child(11)) td:nth-child(11) {
  text-align: right;
}
table:has(col.text-center:nth-child(11)) th:nth-child(11),
table:has(col.text-center:nth-child(11)) td:nth-child(11) {
  text-align: center;
}
table:has(col.text-left:nth-child(12)) th:nth-child(12),
table:has(col.text-left:nth-child(12)) td:nth-child(12) {
  text-align: left;
}
table:has(col.text-right:nth-child(12)) th:nth-child(12),
table:has(col.text-right:nth-child(12)) td:nth-child(12) {
  text-align: right;
}
table:has(col.text-center:nth-child(12)) th:nth-child(12),
table:has(col.text-center:nth-child(12)) td:nth-child(12) {
  text-align: center;
}
table:has(col.text-left:nth-child(13)) th:nth-child(13),
table:has(col.text-left:nth-child(13)) td:nth-child(13) {
  text-align: left;
}
table:has(col.text-right:nth-child(13)) th:nth-child(13),
table:has(col.text-right:nth-child(13)) td:nth-child(13) {
  text-align: right;
}
table:has(col.text-center:nth-child(13)) th:nth-child(13),
table:has(col.text-center:nth-child(13)) td:nth-child(13) {
  text-align: center;
}
table:has(col.text-left:nth-child(14)) th:nth-child(14),
table:has(col.text-left:nth-child(14)) td:nth-child(14) {
  text-align: left;
}
table:has(col.text-right:nth-child(14)) th:nth-child(14),
table:has(col.text-right:nth-child(14)) td:nth-child(14) {
  text-align: right;
}
table:has(col.text-center:nth-child(14)) th:nth-child(14),
table:has(col.text-center:nth-child(14)) td:nth-child(14) {
  text-align: center;
}
table:has(col.text-left:nth-child(15)) th:nth-child(15),
table:has(col.text-left:nth-child(15)) td:nth-child(15) {
  text-align: left;
}
table:has(col.text-right:nth-child(15)) th:nth-child(15),
table:has(col.text-right:nth-child(15)) td:nth-child(15) {
  text-align: right;
}
table:has(col.text-center:nth-child(15)) th:nth-child(15),
table:has(col.text-center:nth-child(15)) td:nth-child(15) {
  text-align: center;
}
table:has(col.text-left:nth-child(16)) th:nth-child(16),
table:has(col.text-left:nth-child(16)) td:nth-child(16) {
  text-align: left;
}
table:has(col.text-right:nth-child(16)) th:nth-child(16),
table:has(col.text-right:nth-child(16)) td:nth-child(16) {
  text-align: right;
}
table:has(col.text-center:nth-child(16)) th:nth-child(16),
table:has(col.text-center:nth-child(16)) td:nth-child(16) {
  text-align: center;
}
table:has(col.text-left:nth-child(17)) th:nth-child(17),
table:has(col.text-left:nth-child(17)) td:nth-child(17) {
  text-align: left;
}
table:has(col.text-right:nth-child(17)) th:nth-child(17),
table:has(col.text-right:nth-child(17)) td:nth-child(17) {
  text-align: right;
}
table:has(col.text-center:nth-child(17)) th:nth-child(17),
table:has(col.text-center:nth-child(17)) td:nth-child(17) {
  text-align: center;
}
table:has(col.text-left:nth-child(18)) th:nth-child(18),
table:has(col.text-left:nth-child(18)) td:nth-child(18) {
  text-align: left;
}
table:has(col.text-right:nth-child(18)) th:nth-child(18),
table:has(col.text-right:nth-child(18)) td:nth-child(18) {
  text-align: right;
}
table:has(col.text-center:nth-child(18)) th:nth-child(18),
table:has(col.text-center:nth-child(18)) td:nth-child(18) {
  text-align: center;
}
table:has(col.text-left:nth-child(19)) th:nth-child(19),
table:has(col.text-left:nth-child(19)) td:nth-child(19) {
  text-align: left;
}
table:has(col.text-right:nth-child(19)) th:nth-child(19),
table:has(col.text-right:nth-child(19)) td:nth-child(19) {
  text-align: right;
}
table:has(col.text-center:nth-child(19)) th:nth-child(19),
table:has(col.text-center:nth-child(19)) td:nth-child(19) {
  text-align: center;
}
table:has(col.text-left:nth-child(20)) th:nth-child(20),
table:has(col.text-left:nth-child(20)) td:nth-child(20) {
  text-align: left;
}
table:has(col.text-right:nth-child(20)) th:nth-child(20),
table:has(col.text-right:nth-child(20)) td:nth-child(20) {
  text-align: right;
}
table:has(col.text-center:nth-child(20)) th:nth-child(20),
table:has(col.text-center:nth-child(20)) td:nth-child(20) {
  text-align: center;
}
table:has(col.text-left:nth-child(21)) th:nth-child(21),
table:has(col.text-left:nth-child(21)) td:nth-child(21) {
  text-align: left;
}
table:has(col.text-right:nth-child(21)) th:nth-child(21),
table:has(col.text-right:nth-child(21)) td:nth-child(21) {
  text-align: right;
}
table:has(col.text-center:nth-child(21)) th:nth-child(21),
table:has(col.text-center:nth-child(21)) td:nth-child(21) {
  text-align: center;
}
table:has(col.text-left:nth-child(22)) th:nth-child(22),
table:has(col.text-left:nth-child(22)) td:nth-child(22) {
  text-align: left;
}
table:has(col.text-right:nth-child(22)) th:nth-child(22),
table:has(col.text-right:nth-child(22)) td:nth-child(22) {
  text-align: right;
}
table:has(col.text-center:nth-child(22)) th:nth-child(22),
table:has(col.text-center:nth-child(22)) td:nth-child(22) {
  text-align: center;
}
table:has(col.text-left:nth-child(23)) th:nth-child(23),
table:has(col.text-left:nth-child(23)) td:nth-child(23) {
  text-align: left;
}
table:has(col.text-right:nth-child(23)) th:nth-child(23),
table:has(col.text-right:nth-child(23)) td:nth-child(23) {
  text-align: right;
}
table:has(col.text-center:nth-child(23)) th:nth-child(23),
table:has(col.text-center:nth-child(23)) td:nth-child(23) {
  text-align: center;
}
table:has(col.text-left:nth-child(24)) th:nth-child(24),
table:has(col.text-left:nth-child(24)) td:nth-child(24) {
  text-align: left;
}
table:has(col.text-right:nth-child(24)) th:nth-child(24),
table:has(col.text-right:nth-child(24)) td:nth-child(24) {
  text-align: right;
}
table:has(col.text-center:nth-child(24)) th:nth-child(24),
table:has(col.text-center:nth-child(24)) td:nth-child(24) {
  text-align: center;
}
table:has(col.text-left:nth-child(25)) th:nth-child(25),
table:has(col.text-left:nth-child(25)) td:nth-child(25) {
  text-align: left;
}
table:has(col.text-right:nth-child(25)) th:nth-child(25),
table:has(col.text-right:nth-child(25)) td:nth-child(25) {
  text-align: right;
}
table:has(col.text-center:nth-child(25)) th:nth-child(25),
table:has(col.text-center:nth-child(25)) td:nth-child(25) {
  text-align: center;
}
table:has(col.text-left:nth-child(26)) th:nth-child(26),
table:has(col.text-left:nth-child(26)) td:nth-child(26) {
  text-align: left;
}
table:has(col.text-right:nth-child(26)) th:nth-child(26),
table:has(col.text-right:nth-child(26)) td:nth-child(26) {
  text-align: right;
}
table:has(col.text-center:nth-child(26)) th:nth-child(26),
table:has(col.text-center:nth-child(26)) td:nth-child(26) {
  text-align: center;
}
table:has(col.text-left:nth-child(27)) th:nth-child(27),
table:has(col.text-left:nth-child(27)) td:nth-child(27) {
  text-align: left;
}
table:has(col.text-right:nth-child(27)) th:nth-child(27),
table:has(col.text-right:nth-child(27)) td:nth-child(27) {
  text-align: right;
}
table:has(col.text-center:nth-child(27)) th:nth-child(27),
table:has(col.text-center:nth-child(27)) td:nth-child(27) {
  text-align: center;
}
table:has(col.text-left:nth-child(28)) th:nth-child(28),
table:has(col.text-left:nth-child(28)) td:nth-child(28) {
  text-align: left;
}
table:has(col.text-right:nth-child(28)) th:nth-child(28),
table:has(col.text-right:nth-child(28)) td:nth-child(28) {
  text-align: right;
}
table:has(col.text-center:nth-child(28)) th:nth-child(28),
table:has(col.text-center:nth-child(28)) td:nth-child(28) {
  text-align: center;
}
table:has(col.text-left:nth-child(29)) th:nth-child(29),
table:has(col.text-left:nth-child(29)) td:nth-child(29) {
  text-align: left;
}
table:has(col.text-right:nth-child(29)) th:nth-child(29),
table:has(col.text-right:nth-child(29)) td:nth-child(29) {
  text-align: right;
}
table:has(col.text-center:nth-child(29)) th:nth-child(29),
table:has(col.text-center:nth-child(29)) td:nth-child(29) {
  text-align: center;
}
table:has(col.text-left:nth-child(30)) th:nth-child(30),
table:has(col.text-left:nth-child(30)) td:nth-child(30) {
  text-align: left;
}
table:has(col.text-right:nth-child(30)) th:nth-child(30),
table:has(col.text-right:nth-child(30)) td:nth-child(30) {
  text-align: right;
}
table:has(col.text-center:nth-child(30)) th:nth-child(30),
table:has(col.text-center:nth-child(30)) td:nth-child(30) {
  text-align: center;
}
.i,
[class*="icon-"] {
  display: block;
  transition: none;
}
.img-bg-cover,
.img-bg-contain {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.img-bg-contain {
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
@supports (object-fit: cover) {
  .img-bg-cover {
    height: 100%;
    object-fit: cover;
  }
}
@supports (object-fit: contain) {
  .img-bg-contain {
    height: 100%;
    object-fit: contain;
    max-width: inherit;
    max-height: inherit;
    right: auto;
    bottom: auto;
  }
}
.js-btn-popup-toggle.active + .js-popup-block {
  display: block !important;
}
.js-popup-block {
  animation: fadein ease 0.3s;
}
.js-tab-block {
  animation: fadein ease 0.2s;
}
.js-tab-block:not(.active) {
  display: none;
}
.js-tab-block.tab-slider:not(.active) {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  height: 0;
  position: relative;
  overflow: hidden;
}
.slider-inner-wrap {
  position: relative;
}
.slider-wrap {
  margin: 0 -20px;
  margin: 0 -2rem;
  position: relative;
}
.sl-wrap {
  padding: 0 20px;
  padding: 0 2rem;
}
.items-wrap,
.tile-items-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin: 0 -20px -40px -20px;
  margin: 0 -2rem -4rem -2rem;
}
.item-wrap,
.tile-item-wrap {
  width: 100%;
  position: relative;
  break-inside: avoid-column;
  display: block;
  animation: fadein ease 0.2s;
  padding: 0 20px;
  padding: 0 2rem;
  margin-bottom: 40px;
  margin-bottom: 4rem;
}
.tile-many-lines,
.text-many-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* 

add to head box

<style>
	.tile-many-lines, .text-many-lines {
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}
</style>

 */
.item-tile,
.tile-outer-wrap,
.tile-inner-wrap,
.tile-photo-wrap,
.tile-photos-wrap,
.tile-info-wrap,
.tile-text-wrap,
.tile-title-wrap,
.tile-desc-wrap,
.tile-actions-wrap,
.tile-action-wrap,
.tile-ico,
.tile-photo,
.tile-info,
.tile-text,
.tile-title,
.tile-desc {
  display: block;
  position: relative;
}
.tile-link {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  overflow: hidden;
  text-indent: -999px;
  font-size: 0;
  color: transparent;
}
.no-mbottom {
  margin-bottom: 0 !important;
}
.no-mtop {
  margin-top: 0 !important;
}
.no-pbottom {
  padding-bottom: 0 !important;
}
.no-ptop {
  padding-top: 0 !important;
}
.elm-hidden {
  display: none !important;
}
input.form-clear-autofill::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
.sl-wrap.swiper-slide {
  height: auto;
}
.swiper,
.swiper-wrapper {
  position: relative;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: auto;
  bottom: auto;
}
.slider-pagination {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0 -5px -5px -5px;
  position: relative;
  width: auto;
}
.slider-pagination .swiper-pagination-bullet {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--clr-light);
  opacity: 1;
  transition: all ease 0.2s;
  cursor: pointer;
  padding: 0;
  margin: 0 5px 5px 5px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.slider-pagination .swiper-pagination-bullet:hover,
.slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--clr-att);
  border-color: var(--clr-att);
}
.is-modern .f-thumbs__slide__button {
  -webkit-clip-path: inherit !important;
          clip-path: inherit !important;
}
@media (max-width: 1023px) {
  .elm-hidden-mobile {
    display: none !important;
  }
  .slider-wrap {
    margin: 0 -1rem;
  }
  .sl-wrap {
    padding: 0 1rem;
  }
  .items-wrap,
  .tile-items-wrap {
    margin: 0 -1rem -2rem -1rem;
  }
  .item-wrap,
  .tile-item-wrap {
    padding: 0 1rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1024px) {
  .elm-hidden-desktop {
    display: none !important;
  }
  .items-wrap.space-small,
  .tile-items-wrap.space-small {
    margin: 0 -13px -20px -13px;
  }
  .items-wrap.space-small .item-wrap,
  .tile-items-wrap.space-small .item-wrap,
  .items-wrap.space-small .tile-item-wrap,
  .tile-items-wrap.space-small .tile-item-wrap {
    padding: 0 13px;
    margin-bottom: 20px;
  }
}
/* ----------------------------------- *\
			fonts
\* ----------------------------------- */
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-Bold.woff2') format('woff2'), url('../fonts/NunitoSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-Black.woff2') format('woff2'), url('../fonts/NunitoSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-ExtraBold.woff2') format('woff2'), url('../fonts/NunitoSans-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-Regular.woff2') format('woff2'), url('../fonts/NunitoSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-SemiBold.woff2') format('woff2'), url('../fonts/NunitoSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-SemiBold.woff2') format('woff2'), url('../fonts/NunitoSans-SemiBold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-Light.woff2') format('woff2'), url('../fonts/NunitoSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* ----------------------------------- *\
			icons
\* ----------------------------------- */
