
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo-footer.svg" alt="">
			</a>
			<div class="logo-title">Ремонт сколов и трещин лобовых <br> стекол в Санкт-Петербурге</div>
		</div>
		<div class="rates-inner-wrap">
			<div class="elm-photo photo-contain">
				<img src="./img/icons/avito.svg" alt="">
			</div>
			<div class="elm-photo photo-contain">
				<img src="./img/icons/yandex.svg" alt="">
			</div>
		</div>
		<div class="actions-inner-wrap">
			<div class="soc-wrap">
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-tg.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-wa.svg" alt="">
				</a>
			</div>
			<div class="phone-wrap">
				<a href="tel:89214140777" class="link-phone h3-title">
					<div class="button-title">+7 (921) 414-0-777</div>
				</a>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->